


/*Top Image*/

.responsive {
  width: 100%;
  height: auto;
}


body {margin: 0;
font-family: Yu Gothic, Arial;
}



div.a{
text-align: center;
font-size: 200%;
}

/*Font Resize for screen*/
@media screen and (min-width: 601px) {
  div.example {
    font-size: 100%px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 70%;
  }
}
 /*Finish*/




/*Bottom Nav/Footer*/
ul.bottomnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.bottomnav li {float: left;}

ul.bottomnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.bottomnav li a:hover:not(.active) {background-color: #111;}

ul.bottomnav li a.active {background-color: #4CAF50;}

ul.bottomnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.bottomnav li.right, 
  ul.bottomnav li {float: none;}
}

/*Finish*/

p.ex1{
  padding: 4px;
}

.container {
    padding: 10px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: repeat(2, 20em);
    grid-column-gap: 50%;
    grid-row-gap: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}





.container div {
    padding: 50px;  
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

 
    
}

.container div{
    //the child
    padding: 10px;
    margin: 2px;
    flex: 1 5 20em;
    // item property flex: flex-grow flex-shrink flex-basis;
}

body, html {
  height: 100%;
  margin: 0;
  text-align: justify;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 70px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section{
  padding: 20px;
  padding-top: 60px;
}

video {
  max-width: 100%;
  height: auto;
}
